@mixin make-buttons(
  $font: $btn-ff,
  $color: $btn-text-color,
  $bg: $btn-bgs,
  
) {
  .btn {
    align-items: center;
    color: $color;
    display: inline-block;
    font-family: $font;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    @each $name, $value in $bg {
      &--#{$name} {
        background-color: $value;
      }      
    }  

    & + & {
      margin-top: 40px;

    }

    &--lg {
      font-size: 2.5rem;
      padding: 14px 40px;
    }
      
    &--sm {
      font-size: 1.8rem;
      padding: 12px 30px;
    }
  }

    
  
}
