@mixin make-grid-columns(
  $columns: $grid-columns,
  $gutter: $grid-gutter-width,
  $breakpoints: $grid-breakpoints,
) {
  .col {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
    position: relative;
    width: 100%;
  }

    @for $i from 1 through $columns {
      .col-#{$i} {
        max-width: percentage($i / $columns);
      }
    }        

  @each $name, $value in $breakpoints {
    @include media-breakpoint($value) {
      @for $i from 1 through $columns {
        .col-#{$name}-#{$i} {
          max-width: percentage($i / $columns);
        }
      }
    }
  }
}
